*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(17,15,15,0.01)),url('/img/dairy.jpg');
    background-repeat:no-repeat;
    min-height: 750px !important;
    background-size: cover !important;
    background-position: center !important;
}
.navbar-brand{
    color: white !important;
    font-size: 40px !important;
    font-weight: bold;
    padding-right: 40% !important;
    
}
.navleft a{
    color: white;
    padding-right: 15px !important;
}
.nav-link:hover{
    color:red;
}
.rowcol1 a{
    text-align: center;
    font-size: 22px;
    padding-bottom: 10px !important;
    color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #433419;
}
.card{
    border-radius: 5px;
    height: 190%!important;
   background-color: #4a3a1d1b !important;
}
.Cheader{
    font-size: 30px;
    color: white;
    text-align: center;
}
